.spring-payment-logo {background: url("./images/springbyciti_logo.png")  no-repeat 0 0% / 18rem auto;
    height: 40px; padding-left: 20rem; display:inline-block; vertical-align: middle;}
.spring-payment-text { display: inline-block; vertical-align: middle; width: 50%}